body{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(161, 255, 246);
    height: 100%;
}

main{
    height: 800px;
}

#header_top{
    background-color: yellow;
}

footer{
    background-color: #000;
}